---
import Header from "../components/Header.astro";
import { getImage } from "astro:assets";
import logo from "../media/logo.png";

interface Props {
  title: string;
}

const { title } = Astro.props;

const logoImage = await getImage({
  src: logo,
  format: "webp",
  width: 50,
  quality: "max",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href={logoImage.src} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="container mx-auto p-1">
      <slot />
    </main>
  </body>
</html>
